aiomysql==0.2.0
fastapi==0.115.13
pydantic==2.11.7
uvicorn==0.34.3
pydantic-settings~=2.10.0
python-jose~=3.5.0
Jinja2~=3.1.6
bcrypt~=4.3.0
starlette~=0.46.2
cryptography>=41.0.0
aiomysql>=0.2.0
pytz~=2025.2
psutil~=7.0.0